<h1>Listing highlights</h1>

<table>
  <tr>
    <th>Url</th>
    <th>X1</th>
    <th>Y1</th>
    <th>X2</th>
    <th>Y2</th>
    <th>Tiny url</th>
    <th>Cache</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @highlights.each do |highlight| %>
  <tr>
    <td><%=h highlight.url %></td>
    <td><%=h highlight.x1 %></td>
    <td><%=h highlight.y1 %></td>
    <td><%=h highlight.x2 %></td>
    <td><%=h highlight.y2 %></td>
    <td><%=h highlight.tiny_url %></td>
    <td><%=h highlight.cache %></td>
    <td><%=h highlight.created_at %></td>
    <td><%=h highlight.updated_at %></td>
    <td><%= link_to 'Show', highlight %></td>
    <td><%= link_to 'Edit', edit_highlight_path(highlight) %></td>
    <td><%= link_to 'Destroy', highlight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New highlight', new_highlight_path %>